<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar 1 {{getProgresso1}}</h4>
        <h4 class="card-title">Striped Progress bar 2 {{getProgresso2}}</h4>

        <div class="progress m-t-20">
          <div
            [ngStyle]="{ width: getProgresso1}"
            class="progress-bar bg-primary progress-bar-striped active"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
            style="height: 10px"
            role="progressbar"
          ></div>
        </div>

        <div class="progress m-t-20">
          <div
            [ngStyle]="{ width: getProgresso2 }"
            class="progress-bar bg-info progress-bar-striped active"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
            style="height: 10px"
            role="progressbar"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increment (emitirValor)="receberValor1( $event )" [progresso]="progresso1" [colorBtn]="'btn btn-info'"></app-increment>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increment (emitirValor)="receberValor2( $event )" [progresso]="progresso2"></app-increment>
      </div>
    </div>
  </div>
</div>
